/*custom fonts - Bitter, Montserrat*/
@import url('http://fonts.googleapis.com/css?family=Montserrat|Bitter');
/*basic reset*/
* {
  padding: 0;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

h1, h2, h3, h4, h5, h6 {
  color: #fff;
  font-family: Bitter, Helvetica;
}

h1 {
  font: normal 32px/32px Bitter;
  text-align: center; padding: 85px 100px;
}


body {
  overflow: hidden;
}

canvas {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 600px;
  width: 800px;
}

#gameover {
  position: absolute;
  margin: 0 auto;
  margin-top: 100px;
  font-size: 5em;
  text-align: center;
  height: 100%;
  width: 100%;
}

.hidden {
  display: none;
}
